body { 
    margin: 0;
}

.nav {
    width: 100%;
    justify-content: space-between;
}

.header-logo {
    font-family: "Raleway";
    color: #2F303A;
}

.nav-list {
    list-style: none;
    display: flex;
}

.contacts {
    justify-content: space-between;
    width: 250px;
    margin-left: 300px;
    list-style: none;
    display: flex;
}

.hero {
    width: 100%;
    height: 600px;
    top: 80px;
    background-color: #2F303A;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-title {
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 44px;
    text-align: center;
}

.hero-btn {
    background-color: #2196F3;
    border: 0;
    width:216px;
    height:50px;
    font-family: "Roboto";
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00000026;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Ниже - ниже*/

.features {
    width: 100%;
    height: 100px;
    margin-bottom: 150px;
}

.features-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.features-list-item {
    text-align: left;   
    margin: 50px;
}

.features-list-title {
    font-family: "Roboto";
    color: #212121;
}

.features-list-desc {
    color: #757575;
    font-family: "Roboto";
    width: 270px;

}

.wwd {
    width: 100%;
    height: 400px;
}

.wwd-title {
    font-family: "Roboto";
    font-size: 36px;
    color: #212121;
    display: flex;
    justify-content: center;
}

.wwd-list {
    display: flex;
    justify-content: center;
}

.wwd-item {
    display: inline;
    margin: 15px;
}




.or {
    background: #F5F4FA;
    width: 100%;
    height: 650px;
}


.or-title {
    font-family: "Roboto";
    font-size: 36px;
    color: #212121;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.or-item {
    background-color: #FFFFFF;
    width: 250px;
    height:350px;
    margin: 15px;
}

.or-item-img {
    width: 250px;
    overflow: hidden;
}

.or-name {
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    color: #212121;
}

.or-wh {
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    color: #212121;
}

.or-list {
    display: flex;
    list-style: none;
    justify-content: center;
}




.footer {
    background-color: #2F303A;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    font-family: "Raleway";
    color: #FFFFFF;
}

.spanii {
    color:#2196F3
}

.footer-address {
    color: #FFFFFF;
    font-family: "Roboto";
}

.footer-address:nth-child(3) {
    color:#c8c8c8
}

.footer-address:nth-child(4) {
    color:#c8c8c8
}